$body-bg: #fff;
$body-color: #111;
$primary: #2972b6;
$light: #f7fafc;
$dark: #171830;
$font-family-sans-serif: "Lexend", system-ui, -apple-system, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

@import "bootstrap/scss/bootstrap";
